/**
 * @file
 *   ofhlinw.css: CSS style for links that open in new windows.
 */

.new-window-link {
  background: url(new-window-link.png) right center no-repeat;
  padding-right: 12px;
  /* This is not valid, but extlinks module does it, for some unkown reason. */
  zoom: 1;
}
